.navbar-container {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
}

.navbar-container > div > a > img {
    padding: 7.5px;
    margin: 2px;
}

.absolute-search-modal {
    display: flex;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    text-align: center;
    backdrop-filter: blur(12px);
    background-color: #e8b5b535;
    border-radius: 10px;
    top: 70px;
    row-gap: 15px;
    padding: 15px 20px;
}

.absolute-search-modal {
    left: -100px;
}

.user-menu-modal {
    left: 2.5px;
}

.hidden {
    display: none;
    visibility: hidden;
}

#type-of-search {
    padding: 5px 7.5px;
}

@media only screen and (max-width: 500px) {
    /* Another More button in More.jsx to free space */
    .navbar-container {
        grid-template-columns: 0.5fr 1.5fr 0.5fr;
        column-gap: 2px;
        padding: 15px 1px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .navbar-container {
        grid-template-columns: 0.75fr 1.5fr 0.75fr;
        padding: 15px 5px;
    }
}

@media only screen and (min-width: 800px) {
    .navbar-container {
        grid-template-columns: 1fr 1.5fr 1.2fr;
        padding: 15px 5px;
    }
}
