.navbar-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr;
    justify-items: center;
    align-items: center;
    padding: 15px 5px;
    margin-bottom: 15px;
}

.navbar-container > div > a > img {
    padding: 7.5px;
    margin: 2px;
}

.absolute-search-modal {
    display: flex;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    text-align: center;
    background-color: #ffbaba8f;
    border-radius: 10px;
    top: 70px;
    left: -90px;
    row-gap: 15px;
    padding: 15px 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}

#type-of-search {
    padding: 5px 7.5px;
}

@media only screen and (max-width: 500px) {
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
}

@media only screen and (min-width: 800px) {
}
