@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
    font-family: "Josefin Sans", Arial, Helvetica, system-ui;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fcf7f9;
}

:where(h1) {
    margin-block: 0.67em;
    font-size: 2em;
}

a:link,
a:visited {
    color: #0051ad;
}

.bold {
    font-weight: 700;
}

.title-section {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.bigger-image {
    width: 35px;
    height: 35px;
}

.normal-image {
    width: 28px;
    height: 28px;
}

.small-image {
    width: 24px;
    height: 24px;
}

.no-link-style {
    text-decoration: none;
}

/* UserInfo */

.user-info {
    display: flex;
    padding: 5px;
    margin: 10px 20px;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    padding: 2px;
    margin-left: 10px;
}

.username p,
.username a:link,
.username a:visited {
    color: #0051ad;
}

/* Home */

.home-greet {
    padding: 15px 20px;
    margin: 10px 30px;
}

/* Page404 and ErrorPage */

.page-error {
    display: flex;
    justify-content: center;
    align-content: center;
}

.page-error div {
    display: flex;
    background-color: #130d0d;
    color: #fcf7f9;
    border-radius: 20px;
}

.page-error div p {
    display: flex;
    align-items: center;
}

/* Media Queries General Stuff */

@media only screen and (max-width: 500px) {
    .page-error div {
        column-gap: 10px;
        padding: 40px 25px;
        margin: 7.5% 10px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .page-error div {
        column-gap: 25px;
        padding: 40px 35px;
        margin: 10% 20px;
    }
}

@media only screen and (min-width: 800px) {
    .page-error div {
        column-gap: 40px;
        padding: 40px 35px;
        margin-top: 10%;
    }
}
