@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
    font-family: "Josefin Sans", Arial, Helvetica, system-ui;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fcf7f9;
}

.bold {
    font-weight: 700;
}

.title-section {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* UserInfo */

.user-info {
    display: flex;
    padding: 5px;
    margin: 10px 20px;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    padding: 2px;
    margin-left: 10px;
}

.username p,
.username a:link,
.username a:visited {
    color: #0051ad;
}

/* Home */

.home-greet {
    padding: 15px 20px;
    margin: 10px 30px;
}

/* Page404 and ErrorPage */

.page-error {
    display: flex;
    justify-content: center;
    align-content: center;
}

.page-error div {
    display: flex;
    background-color: #130d0d;
    border-radius: 20px;
    column-gap: 20px;
    padding: 40px 35px;
    margin-top: 10%;
    color: #fcf7f9;
}

.page-error div p {
    display: flex;
    align-items: center;
}
