.user-container {
    padding: 6px;
}

.user-id {
    display: flex;
    justify-content: flex-end;
    margin: -4px 0 0 0;
}

.user-info-detailed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #ffd9cc;
    border-bottom: 6px solid #47001a;
    box-shadow: 0px 2px 18px -4px #47001a;
    border-radius: 15px;
    padding: 30px 10px;
    /* left and right values (here and similar classes) to be precisely set in Media Queries */
    margin: 5px 7% 20px;
}

.user-info-detailed .user-info .username a address {
    font-size: xx-large;
}

.other-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 15px;
}

.user-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 2.5px 25px;
}

.followers-button {
    background-color: #e9e9ed;
    border-style: none;
    border-radius: 10px;
    padding: 12.5px 14px;
}

.followers-button a:link,
.followers-button a:visited {
    text-decoration: none;
    color: #0051ad;
}

.user-preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    align-self: center;
    border: 2px solid #d1d1d1;
    box-shadow: 0px 0px 10px 3px #d1d1d1;
    border-radius: 10px;
    padding: 5px 15px 17.5px;
    margin: 15px 5% 35px;
}

@media only screen and (max-width: 500px) {
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
}

@media only screen and (min-width: 800px) {
}
